*{
    margin: 0;
    padding: 0;
    
}
@media screen and (min-device-width: 100px) and (max-device-width: 600px){
    header{
        background-color: rgb(3, 3, 3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        /* width: 1000px; */
        height: 52px;
        margin: 0 auto;
    }
    #logo{
        height: 32px;
        width: 32px;
        margin-right: 8px;
    }
    #pesquiza{
        
        
    }
    .busca{
        width: auto;
        /* margin-left:  -850px; */
    }
    main{
        margin-top: 0 2px;
        height: auto;
        width: auto;
    
    }
    #lista{
        /* display: grid; */
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items:flex-end;
        border: 1px solid rgb(8, 8, 8);
        margin: 5px 10px;
        padding: 21.1px .1px;
        padding: 22px 10px;
        text-align: center;
        margin-top: 20px;
        
        
        
    }
    #lista img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: stretch;
        justify-content: center;
        max-width: 290px;
        margin-top: -21px;
           max-width: 100%;
           
    }
    #list p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    footer{
        background-color: black;
    color: #fff;
    margin-top: 100%;
    text-align: center;
    padding: 35px 75px;
    }
    main div h1{
        text-align: center;
        margin-top: 10px;
    }
    main div video{
         display: flex;
         justify-content:center;
         /* border: 3px solid rgb(8, 8, 8); */
         padding: 2px;
         width: 348px;
         height: auto;
         /* padding: 21.1px .1px;
         padding: 22px 10px; */
         /* text-align: center; */
    }

}

@media screen and (min-device-width: 601px) and (max-device-width: 3000px){
header{
    background-color: rgb(3, 3, 3);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 18px;
    /* width: 1000px; */
    height: 100px;
    margin: 0;
}
#logo{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    /* padding: -550px 100px;     */

    /* margin-right: -100px; */
}
#logo .logo img{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
#pesquiza{
    
    
}
.busca{
    width: auto;
    /* margin-left:  -850px; */
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    /* max-width: 290px; */
    /* margin-top: -21px; */
    /* max-width: 100%; */
    /* padding:  45px; */
}
main div video{
    margin-left: auto;
    padding: 15px;
}
main div h1{
    text-align: center;}
#lista{
    
    border: 1px solid rgb(8, 8, 8);
    margin: 5px 10px;
    padding: 21.1px .1px;
    /* padding: 22px 10px; */
    text-align: center;
    margin-top: 20px;
    
    
}
#lista img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    /* max-width: 290px; */
    margin-top: -21px;
       max-width: 100%;
       
}
#list p{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: black;
    color: #fff;
    margin-top: 100%;
    text-align: center;
    padding: 35px 85px;
}
}