*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(3, 3, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 50px;
}
#logo{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}
#pesquiza{
    color: #fff;
  
}
.conteudo {
     display: flex; 
     width: 100vw; 
}

main{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 11px;
    column-gap: 1px;
    margin: 12px;
    flex-grow: 1
    
}
.card-produto {
    max-width: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 2px darkgray
}
.videos-card{
    width: 100%;
}
footer {
    background-color: rgb(44, 43, 44);
    height: 60px;
    /* Centralização com Flex */
     display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    /* Centralização de Grid */
    /* display: grid; */
    /* justify-content: center;
    align-content: center; */
}
